In [1]:
import pandas as pd
import numpy as np

In [54]:
# 按秒生成1000个时间戳
rng = pd.date_range("1/1/2021", periods=1000, freq="S")
rng

DatetimeIndex(['2021-01-01 00:00:00', '2021-01-01 00:00:01',
               '2021-01-01 00:00:02', '2021-01-01 00:00:03',
               '2021-01-01 00:00:04', '2021-01-01 00:00:05',
               '2021-01-01 00:00:06', '2021-01-01 00:00:07',
               '2021-01-01 00:00:08', '2021-01-01 00:00:09',
               ...
               '2021-01-01 00:16:30', '2021-01-01 00:16:31',
               '2021-01-01 00:16:32', '2021-01-01 00:16:33',
               '2021-01-01 00:16:34', '2021-01-01 00:16:35',
               '2021-01-01 00:16:36', '2021-01-01 00:16:37',
               '2021-01-01 00:16:38', '2021-01-01 00:16:39'],
              dtype='datetime64[ns]', length=1000, freq='S')

In [64]:
# 给每秒生成一个100之内的随机价格
ts = pd.Series(data=100 *np.random.randn(len(rng)),index=rng)
ts

2021-01-01 00:00:00   -121.689188
2021-01-01 00:00:01    -37.609117
2021-01-01 00:00:02     69.189619
2021-01-01 00:00:03   -124.282179
2021-01-01 00:00:04      0.090651
                          ...
2021-01-01 00:16:35    116.490968
2021-01-01 00:16:36    -92.761581
2021-01-01 00:16:37     10.768552
2021-01-01 00:16:38      5.786697
2021-01-01 00:16:39     18.793465
Freq: S, Length: 1000, dtype: float64

In [65]:
# 按5分钟重采样计算
ts.resample("5Min").sum()

2021-01-01 00:00:00    1211.517277
2021-01-01 00:05:00    1157.414597
2021-01-01 00:10:00    1973.242550
2021-01-01 00:15:00    -230.512587
Freq: 5T, dtype: float64

In [66]:
# 生成季度数据
prng = pd.period_range('2012Q1','2021Q4', freq='Q-NOV')
prng

PeriodIndex(['2012Q1', '2012Q2', '2012Q3', '2012Q4', '2013Q1', '2013Q2',
             '2013Q3', '2013Q4', '2014Q1', '2014Q2', '2014Q3', '2014Q4',
             '2015Q1', '2015Q2', '2015Q3', '2015Q4', '2016Q1', '2016Q2',
             '2016Q3', '2016Q4', '2017Q1', '2017Q2', '2017Q3', '2017Q4',
             '2018Q1', '2018Q2', '2018Q3', '2018Q4', '2019Q1', '2019Q2',
             '2019Q3', '2019Q4', '2020Q1', '2020Q2', '2020Q3', '2020Q4',
             '2021Q1', '2021Q2', '2021Q3', '2021Q4'],
            dtype='period[Q-NOV]')

In [67]:
# 给季度数据加上小时时间
ts = pd.Series(np.random.randn(len(prng)), prng)
ts.index = (prng.asfreq("M","e") + 1).asfreq("H","s") + 10
ts.head()

2012-03-01 10:00    0.159442
2012-06-01 10:00   -0.726297
2012-09-01 10:00   -1.054832
2012-12-01 10:00   -0.268321
2013-03-01 10:00   -0.935125
Freq: H, dtype: float64

In [68]:
# 生成小时数据
idx = pd.date_range("2022-01-01", periods=1000, freq="H")
ts = pd.Series(range(len(idx)), index=idx)
ts

2022-01-01 00:00:00      0
2022-01-01 01:00:00      1
2022-01-01 02:00:00      2
2022-01-01 03:00:00      3
2022-01-01 04:00:00      4
                      ...
2022-02-11 11:00:00    995
2022-02-11 12:00:00    996
2022-02-11 13:00:00    997
2022-02-11 14:00:00    998
2022-02-11 15:00:00    999
Freq: H, Length: 1000, dtype: int64

In [69]:
# 小时数据转化为4小时数据
ts.resample("4H").mean()

2022-01-01 00:00:00      1.5
2022-01-01 04:00:00      5.5
2022-01-01 08:00:00      9.5
2022-01-01 12:00:00     13.5
2022-01-01 16:00:00     17.5
                       ...
2022-02-10 20:00:00    981.5
2022-02-11 00:00:00    985.5
2022-02-11 04:00:00    989.5
2022-02-11 08:00:00    993.5
2022-02-11 12:00:00    997.5
Freq: 4H, Length: 250, dtype: float64

In [70]:
# 获得星期几
day = pd.Timestamp("2022-03-01")
day.day_name()

'Tuesday'

In [78]:
# 加三天，是星期五
friday = day + pd.Timedelta("3 day")
friday.day_name()

'Friday'

In [79]:
# 加一个工作日
monday = friday + pd.offsets.BDay()
monday.day_name()

'Monday'