In [16]:
import pandas as pd
import numpy as np
import time

In [50]:
# 随机生成1000万条股票数据
rng = pd.date_range("1/1/2022", periods=10000000, freq="S")
df = pd.DataFrame({
    "open": pd.Series(data=100 *np.random.rand(len(rng)),index=rng), 
    "low": pd.Series(data=100 *np.random.rand(len(rng)),index=rng),
    "high": pd.Series(data=100 *np.random.rand(len(rng)),index=rng),
    "close": pd.Series(data=100 *np.random.rand(len(rng)),index=rng),
    "open1": pd.Series(data=100 *np.random.rand(len(rng)),index=rng), 
    "low1": pd.Series(data=100 *np.random.rand(len(rng)),index=rng),
    "high1": pd.Series(data=100 *np.random.rand(len(rng)),index=rng),
    "close1": pd.Series(data=100 *np.random.rand(len(rng)),index=rng),
    "open2": pd.Series(data=100 *np.random.rand(len(rng)),index=rng), 
    "low2": pd.Series(data=100 *np.random.rand(len(rng)),index=rng),
    "high2": pd.Series(data=100 *np.random.rand(len(rng)),index=rng),
    "close2": pd.Series(data=100 *np.random.rand(len(rng)),index=rng),
})

In [51]:
# 以parquet格式写入本地磁盘
t = time.perf_counter()
df.to_parquet("stock_bigdata.parquet", engine="pyarrow")
print(f'写入全部数据 === 花费时间:{time.perf_counter() - t:.3f}s')

写入全部数据 === 花费时间:3.429s

In [52]:
# 读取全部数据
t = time.perf_counter()
pd.read_parquet("stock_bigdata.parquet")
print(f'读取全部数据 === 花费时间:{time.perf_counter() - t:.3f}s')

读取全部数据 === 花费时间:1.973s

In [53]:
# 如果数据过大，可以只读取需要的列
# 读取部分数据
t = time.perf_counter()
columns = ["close"]
pd.read_parquet("stock_bigdata.parquet")[columns]
print(f'读取部分数据 === 花费时间:{time.perf_counter() - t:.3f}s')

读取部分数据 === 花费时间:1.684s

In [54]:
df.head()

,open,low,high,close,open1,low1,high1,close1,open2,low2,high2,close2
2022-01-01 00:00:00,19.696114,86.082380,8.865258,19.799211,76.777130,47.283882,91.916176,51.025611,83.920834,19.049703,4.170005,28.528827
2022-01-01 00:00:01,5.971147,79.595970,97.008154,48.362804,32.032142,74.127104,4.470319,61.176090,24.133712,4.729850,7.541760,29.951372
2022-01-01 00:00:02,88.369816,40.437149,41.006761,62.908517,41.378474,16.121503,74.091630,58.369943,27.451944,8.755761,90.366165,0.085806
2022-01-01 00:00:03,69.463462,0.377706,36.195382,72.701965,28.881375,47.889544,84.601100,49.666996,31.698260,32.343895,21.746633,0.573535
2022-01-01 00:00:04,8.397874,44.012436,86.645129,52.953346,39.779213,61.418572,67.333592,25.713741,97.476810,43.852553,78.358213,41.408313